{
    "presets": ["env"],
    "plugins": [
        "transform-object-rest-spread",
        "add-module-exports"
        
    ],
    "env": {
        "test": {
        "plugins": ["istanbul"]
        }
  }
}